force-app/main/default/flows/Add_ProductCategory_Records_Of_Higher_Level.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_ProductCategory_Record_To_List_1</name>
        <label>Add ProductCategory Record To List 1</label>
        <locationX>308</locationX>
        <locationY>893</locationY>
        <assignmentItems>
            <assignToReference>ProductCategoriesToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductCategory_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ProductCategory_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Record_Of_ProductCategory_1Level</name>
        <label>Create New Record Of ProductCategory 1Level</label>
        <locationX>310</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ProductCategory_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewProductCategoryRecordNameOf1LevelUp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductCategory_Record.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Category__r.ParentId__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductCategory_Record.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Object.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ProductCategory_Record_To_List_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_1Level_Up_Category</name>
        <label>Has 1Level Up Category</label>
        <locationX>493</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Has not Upper Categories</defaultConnectorLabel>
        <rules>
            <name>Has_1st_Level_Up_Category</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__r.ParentId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Record_Of_ProductCategory_1Level</targetReference>
            </connector>
            <label>Has 1st Level Up Category</label>
        </rules>
    </decisions>
    <description>Flow for ProductCategory_c that creates new record for joining Product__c with parent Category (IF exists)</description>
    <formulas>
        <name>NewProductCategoryRecordNameOf1LevelUp</name>
        <dataType>String</dataType>
        <expression>{!Get_Product_Object.Name}+&quot;+&quot;+{!$Record.Category__r.ParentId__r.Name}</expression>
    </formulas>
    <formulas>
        <name>NewProductCategoryRecordNameOf2LevelUp</name>
        <dataType>String</dataType>
        <expression>{!Get_Product_Object.Name}+&quot;&amp;&quot;+{!$Record.Category__r.ParentId__r.ParentId__r.Name}</expression>
    </formulas>
    <formulas>
        <description>Sum Id&apos;s from Product and Category</description>
        <name>SumOfProductAnd1LevelUpCategoryIDs</name>
        <dataType>String</dataType>
        <expression>{!Get_Product_Object.Id}+{!$Record.Category__r.ParentId__r.Id}</expression>
    </formulas>
    <formulas>
        <name>SumOfProductAnd2LevelUpCategoryID</name>
        <dataType>String</dataType>
        <expression>{!Get_Product_Object.Id}+{!$Record.Category__r.ParentId__r.ParentId__r.Id}</expression>
    </formulas>
    <interviewLabel>Add ProductCategory Records Of Higher Level {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add ProductCategory Records Of Higher Level</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ProductCategory_Record</name>
        <label>Create ProductCategory Record</label>
        <locationX>498</locationX>
        <locationY>1161</locationY>
        <inputReference>ProductCategoriesToAdd</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Product_Object</name>
        <label>Get Product Object</label>
        <locationX>499</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_1Level_Up_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Product_Object</targetReference>
        </connector>
        <object>ProductCategory__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProductCategoriesToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductCategory__c</objectType>
    </variables>
    <variables>
        <name>ProductCategory_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductCategory__c</objectType>
    </variables>
</Flow>
