force-app/main/default/flows/AssignVatRateForOrderLineItem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignVatRateFieldForOrderLineItem</name>
        <label>Assign VatRate Field For OrderLineItem</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>TempOrderLineItem.VATRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProductRecord.DefaultVatRate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOrderineItemRecord</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Assign VatRate For OrderLineItem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign VatRate For OrderLineItem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetProductRecord</name>
        <label>Get Product Record</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignVatRateFieldForOrderLineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DefaultVatRate__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOrderineItemRecord</name>
        <label>Update OrderineItemRecord</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>VATRate__c</field>
            <value>
                <elementReference>TempOrderLineItem.VATRate__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetProductRecord</targetReference>
        </connector>
        <object>OrderLineItem__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TempOrderLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderLineItem__c</objectType>
    </variables>
</Flow>
