force-app/main/default/flows/CartScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignNames</name>
        <label>Assign Names</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>DraftLineItemsName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreateListOfLineItemsNames.Product__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateListOfLineItemsNames</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AreLineItemsInCart</name>
        <label>Are There LineItems In Cart?</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>EmptyCart</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LineItemsNotExist</defaultConnectorLabel>
        <rules>
            <name>LineItemsExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DraftCartLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateListOfLineItemsNames</targetReference>
            </connector>
            <label>LineItems Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>DraftCartExists</name>
        <label>DraftCart Exists?</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>DraftCartNotExists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotExists</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DraftCarts.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AreLineItemsInCart</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <description>edit cart items</description>
    <interviewLabel>Cart Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cart Screen Flow</label>
    <loops>
        <name>CreateListOfLineItemsNames</name>
        <label>Create List Of LineItems Names</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <collectionReference>DraftCartLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignNames</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>StartPage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>DraftCartLineItems</name>
        <label>Draft CartLineItems</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DraftCartExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DraftCarts.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CartLineItem__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get user&apos;s Carts with &quot;Draft&quot; status</description>
        <name>DraftCarts</name>
        <label>Draft Carts</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DraftCartLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cart__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUsersAccount</name>
        <label>Get User&apos;s Account</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DraftCarts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>DraftCartNotExists</name>
        <label>DraftCart Not Exist</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AddFirstProduct</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Add first product to create your new cart&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EmptyCart</name>
        <label>Empty Cart</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AddProducts</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Your cart is empty! :(&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>StartPage</name>
        <label>Your Cart Content</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>StartPage_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>StartPage_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductName</name>
                    <fieldText>&lt;p&gt;{!DraftCartLineItems}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>StartPage_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>sfgtrg</name>
                    <fieldText>&lt;p&gt;{!DraftLineItemsName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>StartPage_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>StartPage_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetUsersAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DraftLineItemsName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
