force-app/main/default/flows/CreateOrEditUsersCart.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignCartLineItem</name>
        <label>Assign Cart Line Item</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>CartLineItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCartLineItemName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CartLineItem.Cart__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DraftCarts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CartLineItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentProductId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CartLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductQuantity_CartExist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CartLineItem.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GeneralCartDiscount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewCartLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCartLineItem_0</name>
        <label>Assign Cart Line Item</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>CartLineItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCartLineItemName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CartLineItem.Cart__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatedDraftCart.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CartLineItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentProductId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CartLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductsQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CartLineItem.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GeneralCartDiscount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewCartLineItem_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCartLineItem_0_0_0_0</name>
        <label>Assign Cart Line Item</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>CartLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CartLineItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DraftCartLineItems.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CartLineItem.Cart__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DraftCarts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CartLineItem.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GeneralCartDiscount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCartLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewCartRecord</name>
        <label>Assign New Cart Record</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Cart.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cart.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUsersContact.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cart.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cart.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCurrentTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewCart</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>GeneralCartDiscount</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>Draft Cart Exists -&gt; edit Cart
Draft Cart not exist -&gt; create new Cart</description>
        <name>Is_there_Draft_Cart</name>
        <label>Is there Draft Cart</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>NoDraftCartsFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DraftCarts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DraftCartsFound</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_This_Product_In_Cart</name>
        <label>Is There This Product In Cart?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>AssignCartLineItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ThereIsNot</defaultConnectorLabel>
        <rules>
            <name>ThereIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DraftCartLineItems.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DraftCartLineItem</targetReference>
            </connector>
            <label>There Is</label>
        </rules>
    </decisions>
    <description>ScreenFlow to create and/or edit Cart and CartItems</description>
    <formulas>
        <description>Calculate Quantity when Product exists in the draft Cart</description>
        <name>CalculateQuantity</name>
        <dataType>Number</dataType>
        <expression>{!DraftCartLineItem.Quantity__c}+{!ProductQuantity_CartExist}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>CartLineItem name when draft Cart exist</description>
        <name>CurrentCartLineItemName</name>
        <dataType>String</dataType>
        <expression>{!DraftCarts.Id}+{!CurrentProductId.Id}</expression>
    </formulas>
    <formulas>
        <name>GetCurrentTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!TimeNow})</expression>
    </formulas>
    <formulas>
        <description>Name for CartLineItem when created</description>
        <name>NewCartLineItemName</name>
        <dataType>String</dataType>
        <expression>{!Cart.Id}+{!CurrentProductId.Id}</expression>
    </formulas>
    <formulas>
        <name>TimeNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Create Or Edit Users Cart {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Or Edit Users Cart</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewCart</name>
        <label>Create New Cart</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>CreatedDraftCart</targetReference>
        </connector>
        <inputReference>Cart</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create New CartLineItem for this Product and this draft Cart</description>
        <name>CreateNewCartLineItem</name>
        <label>Create New CartLineItem</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>ProductAddedToNewCart_0</targetReference>
        </connector>
        <inputReference>CartLineItem</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create New CartLineItem for this Product and this draft Cart</description>
        <name>CreateNewCartLineItem_0</name>
        <label>Create New CartLineItem</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>ProductAddedToNewCart</targetReference>
        </connector>
        <inputReference>CartLineItem</inputReference>
    </recordCreates>
    <recordLookups>
        <description>get just created user&apos;s Cart with &quot;Draft&quot; status</description>
        <name>CreatedDraftCart</name>
        <label>Created Draft Cart</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCartLineItem_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cart__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>CartLineItem from current Draft Cart</description>
        <name>DraftCartLineItem</name>
        <label>Draft CartLineItem</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCartLineItem_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentProductId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DraftCarts.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CartLineItem__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>CartLineItems from current Draft Cart</description>
        <name>DraftCartLineItems</name>
        <label>Draft CartLineItems</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_This_Product_In_Cart</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentProductId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DraftCarts.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CartLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get user&apos;s Carts with &quot;Draft&quot; status</description>
        <name>DraftCarts</name>
        <label>Draft Carts</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_Draft_Cart</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cart__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUsersContact</name>
        <label>Get User&apos;s Contact</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DraftCarts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCartLineItem</name>
        <label>Update CartLineItem</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>ProductAddedToNewCart_0_0</targetReference>
        </connector>
        <inputReference>CartLineItem</inputReference>
    </recordUpdates>
    <screens>
        <name>DraftCartsFound</name>
        <label>Draft Cart Found</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DraftCartLineItems</targetReference>
        </connector>
        <fields>
            <name>YouHaveNoDraftCartsYet_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Product will be added to Cart.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HowManyProducts_0</name>
            <fieldText>&lt;p&gt;Put the Quantity of This Product to add&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductQuantity_CartExist</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Products Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Must be more than zero!&lt;/p&gt;</errorMessage>
                <formulaExpression>{!ProductQuantity_CartExist}&gt;0</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Add to Cart</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoDraftCartsFound</name>
        <label>No Draft Carts Found</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignNewCartRecord</targetReference>
        </connector>
        <fields>
            <name>YouHaveNoDraftCartsYet</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;It seems that you have no draft carts.&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; Let&apos;s open one!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HowManyProducts</name>
            <fieldText>&lt;p&gt;Put the Quantity of This Product to add&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductsQuantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Products Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Must be more than zero!&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!ProductsQuantity}&gt;0</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Add to Cart</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProductAddedToNewCart</name>
        <label>Product added to your new Cart</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Success!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You added {!ProductsQuantity} product(s)  to your new cart&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProductAddedToNewCart_0</name>
        <label>Product added to your new Cart</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Success!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You added {!ProductQuantity_CartExist} product(s)  to your cart&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProductAddedToNewCart_0_0</name>
        <label>Product added to your new Cart</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Success!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You added {!ProductQuantity_CartExist} product(s)  to your cart&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;There are now {!CalculateQuantity} {!CurrentProductId.Name} in your cart&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetUsersContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Cart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cart__c</objectType>
    </variables>
    <variables>
        <description>Cart Item to add to Cart</description>
        <name>CartLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartLineItem__c</objectType>
    </variables>
    <variables>
        <name>currentItem_FilterDraftCartLineItemsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartLineItem__c</objectType>
    </variables>
    <variables>
        <description>Current Id of Product from page</description>
        <name>CurrentProductId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product__c</objectType>
    </variables>
</Flow>
