force-app/main/default/flows/DraftCartEditAndMakeOrderScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignBillingAddressToShippingAddress</name>
        <label>Assign BillingAddress To ShippingAddress</label>
        <locationX>446</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>ShippingAddressComponent.city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingAddressComponent.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddressComponent.country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingAddressComponent.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddressComponent.postalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingAddressComponent.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddressComponent.province</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingAddressComponent.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddressComponent.street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingAddressComponent.street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OrderSummary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCartLineItemToOrderLineItems</name>
        <label>AssignCartLineItem to OrderLineItems</label>
        <locationX>666</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>OrderLineItemsData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderLineItemToAdd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OrderLineItemsAssignement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignChangedTableRows</name>
        <label>Assign Changed Table Rows</label>
        <locationX>402</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>ChangedTableRows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FillChangedTableRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FillChangedTableRows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDeletedTableRows</name>
        <label>Assign Deleted Table Rows</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>DeletedTableRows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FillChangedTableRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FillChangedTableRows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOrderData</name>
        <label>Assign Order Data</label>
        <locationX>578</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>OrderData.BillingAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUsersAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderData.BillingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingAddressComponent.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderData.BillingCompanyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUsersAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderData.BillingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingAddressComponent.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderData.BillingFirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderData.BillingLastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderData.BillingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingAddressComponent.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderData.BillingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingAddressComponent.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderData.BillingVATNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUsersAccount.AccountVatNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderData.ShippingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingAddressComponent.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderData.ShippingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingAddressComponent.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderData.ShippingEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderData.ShippingFirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderData.ShippingLastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderData.ShippingPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderData.ShippingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingAddressComponent.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderData.ShippingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingAddressComponent.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderData.Cart__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DraftCarts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateOrderLineItemToAdd</name>
        <label>Create OrderLineItem To Add</label>
        <locationX>666</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>OrderLineItemToAdd.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderLineItemsAssignement.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItemToAdd.EffectiveUnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderLineItemsAssignement.EffectiveUnitPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItemToAdd.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNewOrderID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItemToAdd.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderLineItemsAssignement.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItemToAdd.TotalGrossPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalGrossPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItemToAdd.TotalNetPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderLineItemsAssignement.TotalNetPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItemToAdd.UnitListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderLineItemsAssignement.UnitListPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItemToAdd.VATRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderLineItemsAssignement.Product__r.DefaultVatRate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItemToAdd.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderLineItemsAssignement.Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignCartLineItemToOrderLineItems</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AreLineItemsInCart</name>
        <label>Are There LineItems In Cart?</label>
        <locationX>644</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>EmptyCart</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LineItemsNotExist</defaultConnectorLabel>
        <rules>
            <name>LineItemsExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DraftCartLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StartPage</targetReference>
            </connector>
            <label>LineItems Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChangedRowsEmpty</name>
        <label>Changed Rows Empty?</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>UpdateTableRows_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Changed Not Empty</defaultConnectorLabel>
        <rules>
            <name>UpdatedEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignChangedTableRows</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeletedRowsEmpty</targetReference>
            </connector>
            <label>Updated Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>DeletedRowsEmpty</name>
        <label>Deleted Rows Empty?</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>DeleteTableRows_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Deleted Not Empty</defaultConnectorLabel>
        <rules>
            <name>DeletedEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignDeletedTableRows</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Deleted Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>DraftCartExists</name>
        <label>DraftCart Exists?</label>
        <locationX>941</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>DraftCartNotExists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotExists</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DraftCarts.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DraftCartLineItems</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsDeleted</name>
        <label>IsDeleted?</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>AssignChangedTableRows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FillChangedTableRows.IsDeleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDeletedTableRows</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsToggleChoosen</name>
        <label>Is Toggle Choosen?</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>OrderShippingAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Choosen</defaultConnectorLabel>
        <rules>
            <name>Choosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShippingAddressEqualsBilling.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignBillingAddressToShippingAddress</targetReference>
            </connector>
            <label>Choosen</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateOrOrder</name>
        <label>Update Or Order?</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>GetUsersContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Order</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buttons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FillChangedTableRows</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <description>ScreenFlow used on Experience site that allows to edit users DraftCarts and convert it to Orders</description>
    <formulas>
        <name>TotalGrossPrice</name>
        <dataType>Currency</dataType>
        <expression>{!OrderLineItemsAssignement.TotalNetPrice__c}*(1+{!OrderLineItemsAssignement.Discount__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Draft Cart Edit and Make Order Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Draft Cart Edit And Make Order Screen Flow</label>
    <loops>
        <name>FillChangedTableRows</name>
        <label>Fill Changed Table Rows</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <collectionReference>DraftCartTable.outputEditedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsDeleted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ChangedRowsEmpty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>OrderLineItemsAssignement</name>
        <label>OrderLineItems Assignement</label>
        <locationX>578</locationX>
        <locationY>2054</locationY>
        <collectionReference>DraftCartLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateOrderLineItemToAdd</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateOrderLineItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateOrder</name>
        <label>Create Order</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>GetNewOrderID</targetReference>
        </connector>
        <inputReference>OrderData</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateOrderLineItems</name>
        <label>Create OrderLineItems</label>
        <locationX>578</locationX>
        <locationY>2510</locationY>
        <connector>
            <targetReference>OrderedSuccessfully</targetReference>
        </connector>
        <inputReference>OrderLineItemsData</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteTableRows_0</name>
        <label>Delete Table Rows</label>
        <locationX>182</locationX>
        <locationY>1886</locationY>
        <inputReference>DeletedTableRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>DraftCartLineItems</name>
        <label>Draft CartLineItems</label>
        <locationX>644</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AreLineItemsInCart</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DraftCarts.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CartLineItem__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get user&apos;s Carts with &quot;Draft&quot; status</description>
        <name>DraftCarts</name>
        <label>Draft Carts</label>
        <locationX>941</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DraftCartExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cart__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNewOrderID</name>
        <label>Get New Order ID And Name</label>
        <locationX>578</locationX>
        <locationY>1934</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OrderLineItemsAssignement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DraftCarts.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUsersAccount</name>
        <label>Get User&apos;s Account</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OrderBillingAddress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUsersContact.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUsersContact</name>
        <label>Get Users Contact</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUsersAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTableRows_0</name>
        <label>Update Table Rows</label>
        <locationX>138</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>DeletedRowsEmpty</targetReference>
        </connector>
        <inputReference>ChangedTableRows</inputReference>
    </recordUpdates>
    <screens>
        <name>DraftCartNotExists</name>
        <label>DraftCart Not Exist</label>
        <locationX>1238</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AddFirstProduct</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Add first product to create your new cart&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EmptyCart</name>
        <label>Empty Cart</label>
        <locationX>974</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AddProducts</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Your cart is empty! :(&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OrderBillingAddress</name>
        <label>Order Billing Address</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsToggleChoosen</targetReference>
        </connector>
        <fields>
            <name>BillingAddressHeader</name>
            <fieldText>&lt;p&gt;Check your Billing Data&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OrderBillingAddress_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OrderBillingAddress_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CompanyName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetUsersAccount.Name</elementReference>
                    </defaultValue>
                    <fieldText>Company Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>BillingAddressComponent</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>GetUsersAccount.BillingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>GetUsersAccount.BillingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>GetUsersAccount.BillingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>GetUsersAccount.BillingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>GetUsersAccount.BillingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OrderBillingAddress_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OrderBillingAddress_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OrderBillingAddress_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShippingAddressEqualsBilling</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Shipping Adress the same as the billing</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>the same</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>different</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OrderedSuccessfully</name>
        <label>Ordered Successfully</label>
        <locationX>578</locationX>
        <locationY>2630</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Success!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your order was created with number &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!GetNewOrderID.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OrderShippingAddress</name>
        <label>Order Shipping Address</label>
        <locationX>710</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OrderSummary</targetReference>
        </connector>
        <fields>
            <name>ShippingAddressHeader</name>
            <fieldText>&lt;p&gt;Check your shipping address data&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OrderShippingAddress_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OrderShippingAddress_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShippingAddressComponent</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>GetUsersAccount.ShippingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>GetUsersAccount.ShippingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>GetUsersAccount.ShippingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>GetUsersAccount.ShippingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>GetUsersAccount.ShippingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Go to summary</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OrderSummary</name>
        <label>Order Summary</label>
        <locationX>578</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignOrderData</targetReference>
        </connector>
        <fields>
            <name>BillingCompanyData</name>
            <fieldText>Billing Company Data</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BillingCompanyData_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CompanyNameLabel</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Company Name&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CompanyVatNumberLabel</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Company VAT Number&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BillingCompanyData_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CompanyNameValue</name>
                    <fieldText>&lt;p&gt;{!CompanyName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CompanyVatNumber</name>
                    <fieldText>&lt;p&gt;{!GetUsersContact.Account.AccountVatNumber__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BillingAddressLabel</name>
            <fieldText>Billing Address</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BillingAddressLabel_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BillingCountryLabel</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Billing Country&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BillingCityLabel</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Billing City&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BillingStreetLabel</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Billing Street&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BillingStateLabel</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Billing State/Province&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BillingPostalCodeLabel</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Billing Postal Code&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BillingAddressLabel_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BillingCountry</name>
                    <fieldText>&lt;p&gt;{!BillingAddressComponent.country}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BillingCity</name>
                    <fieldText>&lt;p&gt;{!BillingAddressComponent.city}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BillingStreet</name>
                    <fieldText>&lt;p&gt;{!BillingAddressComponent.street}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BillingState</name>
                    <fieldText>&lt;p&gt;{!BillingAddressComponent.province}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BillingPostalCode</name>
                    <fieldText>&lt;p&gt;{!BillingAddressComponent.postalCode}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ContactPersonData</name>
            <fieldText>Contact Person Data</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ContactPersonData_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactPersonLabel</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Contact Person&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PhoneNumberLabel</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Phone Number&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>EmailLabel</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;E-mail&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ContactPersonData_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactPerson</name>
                    <fieldText>&lt;p&gt;{!$User.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$User.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PhoneNumber</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$User.Phone}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Email</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$User.Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ShippingAddressLabel</name>
            <fieldText>Shipping Address</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ShippingAddressLabel_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShippingCountryLabel</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Shipping Country&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ShippingCityLabel</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Shipping City&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ShippingStreetLabel</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Shipping Street&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ShippingStateLabel</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Shipping State/Province&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ShippingPostalCodeLabel</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Shipping Postal Code&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ShippingAddressLabel_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShippingCountry</name>
                    <fieldText>&lt;p&gt;{!ShippingAddressComponent.country}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ShippingCity</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ShippingAddressComponent.city}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ShippingStreetSummary</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ShippingAddressComponent.street}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ShippingState</name>
                    <fieldText>&lt;p&gt;{!ShippingAddressComponent.province}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ShippingPostalCode</name>
                    <fieldText>&lt;p&gt;{!ShippingAddressComponent.postalCode}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>ORDER</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>StartPage</name>
        <label>Your Cart Content</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Update cart</backButtonLabel>
        <connector>
            <targetReference>UpdateOrOrder</targetReference>
        </connector>
        <fields>
            <name>DraftCartTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>CartLineItem__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>CartLineItem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>DraftCartLineItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Product__c,Quantity__c,EffectiveUnitPrice__c,TotalNetPrice__c,IsDeleted</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Product__c:400, Quantity__c:100, EffectiveUnitPrice__c:100, TotalNetPrice__c:100, IsDeleted:75</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Change your Cart!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>IsDeleted:true,Quantity__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowOverflow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>IsDeleted:Delete</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Buttons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Update your cart&quot;,&quot;value&quot;:&quot;Update&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Make an order&quot;,&quot;value&quot;:&quot;Order&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Make an order</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>815</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DraftCarts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChangedTableRows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartLineItem__c</objectType>
    </variables>
    <variables>
        <name>DeletedTableRows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartLineItem__c</objectType>
    </variables>
    <variables>
        <name>DraftLineItemsName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order__c</objectType>
    </variables>
    <variables>
        <name>OrderLineItemsData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderLineItem__c</objectType>
    </variables>
    <variables>
        <name>OrderLineItemToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderLineItem__c</objectType>
    </variables>
</Flow>
