force-app/main/default/flows/DraftCartScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignChangedTableRows</name>
        <label>Assign Changed Table Rows</label>
        <locationX>402</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>ChangedTableRows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FillChangedTableRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FillChangedTableRows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDeletedTableRows</name>
        <label>Assign Deleted Table Rows</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>DeletedTableRows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FillChangedTableRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FillChangedTableRows</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AreLineItemsInCart</name>
        <label>Are There LineItems In Cart?</label>
        <locationX>226</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>EmptyCart</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LineItemsNotExist</defaultConnectorLabel>
        <rules>
            <name>LineItemsExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DraftCartLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StartPage</targetReference>
            </connector>
            <label>LineItems Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChangedRowsEmpty</name>
        <label>Changed Rows Empty?</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>UpdateTableRows_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Changed Not Empty</defaultConnectorLabel>
        <rules>
            <name>UpdatedEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignChangedTableRows</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeletedRowsEmpty</targetReference>
            </connector>
            <label>Updated Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>DeletedRowsEmpty</name>
        <label>Deleted Rows Empty?</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>DeleteTableRows_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Deleted Not Empty</defaultConnectorLabel>
        <rules>
            <name>DeletedEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignDeletedTableRows</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Deleted Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>DraftCartExists</name>
        <label>DraftCart Exists?</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>DraftCartNotExists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotExists</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DraftCarts.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AreLineItemsInCart</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsDeleted</name>
        <label>IsDeleted?</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>AssignChangedTableRows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FillChangedTableRows.IsDeleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDeletedTableRows</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Screen flow to edit draft Cart using Datatable AppExchange component</description>
    <interviewLabel>Draft Cart Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Draft Cart Screen Flow</label>
    <loops>
        <name>FillChangedTableRows</name>
        <label>Fill Changed Table Rows</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <collectionReference>DraftCartTable.outputEditedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsDeleted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ChangedRowsEmpty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>DeleteTableRows_0</name>
        <label>Delete Table Rows</label>
        <locationX>138</locationX>
        <locationY>1886</locationY>
        <inputReference>DeletedTableRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>DraftCartLineItems</name>
        <label>Draft CartLineItems</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DraftCartExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DraftCarts.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CartLineItem__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get user&apos;s Carts with &quot;Draft&quot; status</description>
        <name>DraftCarts</name>
        <label>Draft Carts</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DraftCartLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cart__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUsersAccount</name>
        <label>Get User&apos;s Account</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DraftCarts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTableRows_0</name>
        <label>Update Table Rows</label>
        <locationX>138</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>DeletedRowsEmpty</targetReference>
        </connector>
        <inputReference>ChangedTableRows</inputReference>
    </recordUpdates>
    <screens>
        <name>DraftCartNotExists</name>
        <label>DraftCart Not Exist</label>
        <locationX>666</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AddFirstProduct</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Add first product to create your new cart&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EmptyCart</name>
        <label>Empty Cart</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AddProducts</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Your cart is empty! :(&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>StartPage</name>
        <label>Your Cart Content</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FillChangedTableRows</targetReference>
        </connector>
        <fields>
            <name>DraftCartTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>CartLineItem__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>CartLineItem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>DraftCartLineItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Product__c,Quantity__c,EffectiveUnitPrice__c,TotalNetPrice__c,IsDeleted</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Product__c:400, Quantity__c:100, EffectiveUnitPrice__c:100, TotalNetPrice__c:100, IsDeleted:75</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Change your Cart!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>IsDeleted:true,Quantity__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowOverflow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>IsDeleted:Delete</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetUsersAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChangedTableRows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartLineItem__c</objectType>
    </variables>
    <variables>
        <name>DeletedTableRows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartLineItem__c</objectType>
    </variables>
    <variables>
        <name>DraftLineItemsName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
